/* ======NAVBAR===== */
.navbar {
  background-color: #32333b;
  width: 100%;
  padding: 35px ;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: absolute;
  height: 0;
  margin-top: -100px;
}
.navbar ul {
  background-color: transparent;
  flex: 1;
  text-align: right;
  padding: 50px;
  margin: 5px;
}

.navbar ul li {
  background-color: transparent;
  list-style: none;
  display: inline-block;
  /* margin: 0 35px; */ /*Como hacer que se vean mas juntos o separados*/
}

/* ------NAVBAR:ENLACES------- */
.navbar ul li a {
  background-color: transparent;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  position: relative;
  opacity: 100%;
  margin: 0 35px;
}

.navbar ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 1%;
  transform: translatey(-100%);
  background: white;
  /* transition: width 0.3s; */
  border-radius: 20px;
  opacity: 100%;
}

.navbar ul li a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

